<mat-card>
  <mat-card-header>
    <mat-card-title>{{
      'home.title' | translate: { name: ('app.name' | translate) }
    }}</mat-card-title>
    <mat-card-subtitle>{{ 'home.subtitle' | translate }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{ 'home.description' | translate }}</p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button color="primary">
      <mat-icon>rocket_launch</mat-icon>
      {{ 'home.cta' | translate }}
    </button>
  </mat-card-actions>
</mat-card>
